<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="" class="navbar-brand">Weather Website</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav Navbar_Options">
                <li routerLinkActive="active"><a routerLink="/Home/Current">Current</a></li>
                <li routerLinkActive="active"><a routerLink="/Home/Hourly">Hourly</a></li>
                <li routerLinkActive="active"><a routerLink="/Home/Daily">Daily</a></li>
                <!-- <li routerLinkActive="active"><a routerLink="/Home/City_Weather">City_Weather</a></li> -->
            </ul>
        </div>
    </div>
</nav>